body {
    background-color: #EAE8E5;
}

.p-4 {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
}

.navbar-brand {
    font-style: DM Sans;
    font-weight: 650;   
    color: #333333;
    font-size: 28px;
}

.navbar-nav{
    font-style: DM Sans;
    font-weight: 500;   
    color: #333333;
    font-size: 18px;
}

input.form-control {
    background-color: #EAE8E5;
    color: #333333;
    border: 1px solid #EAE8E5;
}

input.form-control:focus {
    background-color: #EAE8E5;
    color: #333333;
    border-color: #EAE8E5;
    box-shadow: none;
}
