body {
    background-color: #EAE8E5;
}

.p-4 {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
}

.navbar-brand {
    font-style: DM Sans;
    font-weight: 650;   
    color: #333333;
    font-size: 28px;
}

.navbar-nav{
    font-style: DM Sans;
    font-weight: 500;   
    color: #333333;
    font-size: 18px;
}

input.form-control {
    background-color: #EAE8E5;
    color: #333333;
    border: 1px solid #EAE8E5;
}

input.form-control:focus {
    background-color: #EAE8E5;
    color: #333333;
    border-color: #EAE8E5;
    box-shadow: none;
}

.carousel-indicators [data-bs-target] {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    opacity: 0.4;
    margin: 0 5px;
}

.carousel-indicators .active {
    opacity: 1;
    
}

.listing-card {
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  border-radius: 10px;
  padding: 16px 16px 16px 0;
  display: flex;
  align-items: center;
  gap: 16px;
  width: 840px;
  height: 322px;
  margin: 0 auto;
  position: relative;
}

.listing-card .image-placeholder {
  width: 330px;
  height: 322px;
  background-color: #9b8f75;
  border-radius: 8px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.listing-card .flex-grow-1 {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.listing-card .btn-secondary {
  background-color: #9b8f75;
  border: none;
  color: white;
  position: absolute;
  right: 30px;
  bottom: 40px;
  width: 120px;
  height: 37px;
}

.listing-card .btn-secondary:hover {
  background-color: #8a7d66;
}

.listing-header {
  width: 840px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-container {
  width: 300px;
}

.search-bar {
  display: flex;
  align-items: center;
  border: 1px solid #ffffff;
  border-radius: 8px;
  padding: 8px 12px;
  background-color: white;
}

.search-bar input {
  border: none;
  outline: none;
  flex-grow: 1;
  font-size: 0.9rem;
  background-color: white;
}

.search-bar i {
  color: #6c757d;
}

